@import "src/assets/styles/templates";

.breadcrumbs {
  @include flex-gap(8px);
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.item {
  max-width: 100%;

  &:last-child {
    overflow: hidden;
    text-overflow: ellipsis;

  }

  span, a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white-default);
    white-space: nowrap;
  }
}

.lastItem {
  color: var(--grey-default);

  span {
    color: var(--white-80);
  }
}