@import "src/assets/styles/templates";

.test {
  @include flex-col-gap(32px);

  .top {
    @include flex-col-gap(12px);

    .numberQuestion {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: var(--white-default);
    }

    .title {
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      color: var(--white-default);
    }
  }

  .list {
    @include flex-col-gap(12px);
  }

  .button {
    width: 100%;
  }
}